*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#imageBackground{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;     /* Make image cover the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /*no repeat */ 
    z-index: 1;
    pointer-events: none;
    opacity:0.55;
    background-image:url('../assets/pictures/background/flowerBg2.jpg');
}
#mainBackground{
    position: relative;
    display:flex;
    width: 100vw;
    min-height: 100svh;
    background-color:pink;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}